@using CarFuel.Models
@model Car

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Make (@Model.Model)</h2>

<div class="well well-sm">
    Average consumption is <strong>@(Model.AverageKmL?.ToString("n2"))</strong> Km/L.
</div>
