@using CarFuel.Models
@model Car

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Make (@Model.Model)</h2>

<div class="well well-sm">
    @if (Model.AverageKmL == null)
    {
        <div>
            Not has enough data to calculate consumption rate.
            Please add more fill up.
        </div>
    }
    else
    {
        @: Average consumption is <strong>@(Model.AverageKmL?.ToString("n2"))</strong> km/L.
    }
</div>
