@using CarFuel.Models
@model IEnumerable<Car>

@{
    ViewBag.Title = "Index";
}

<h2>Cars</h2>

@if (TempData["error"] != null)
{
    <span class="error">
        @TempData["error"]
    </span>
}

<div class="well well-sm">

    <a id="gotoAdd" href="~/Cars/Create" class="btn btn-info btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
        Add New Car
    </a>

    <b>Total: </b>
    <span id="count">0</span>
    cars
</div>

<table class="table">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Average Km/L.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@Html.ActionLink(car.Make, "Details", new { id = car.Id })</td>
                <td>@car.Model</td>
                <td>@car.AverageKmL</td>
            </tr>
        }
    </tbody>
</table>